#register-modal input {
	display: block;
	height: var(--input-height);
}

#preview-title {
	height: 2em;
}

#frontmatter-gen-modal .google-button button {
	outline: solid 1px gray;
}

#frontmatter-gen-modal input {
	height: var(--input-height);
}
#frontmatter-gen-modal textarea.preview {
	resize: none;
	margin-top: 1em;
	min-height: 170px;
	width: 100%;
}

#frontmatter-gen-modal label {
	display: block;
	margin-top: 0.5em;
}

#frontmatter-gen-modal label input {
	margin: 4px 0;
	display: block;
	width: 100%;
}

#frontmatter-gen-modal button.exec {
	width: 100%;
	background: var(--metadata-input-background-active);
	color: var(--metadata-input-text-color);
}

#chapter-modal label {
	display: block;
	margin-top: 0.5em;
}

#chapter-modal label input {
	margin: 4px 0;
	display: block;
	width: 100%;
	outline: solid 1px gray;
}
#chapter-modal input.chap {
	width: 4em;
}

#chapter-modal button {
	margin-top: 2em;
	width: 100%;
}
