#register-modal input {
	display: block;
}
#register-modal #preview {
	height: 2em;
}
#frontmatter-gen-modal .subtitle {
	border: 1px solid tomato;
}
#frontmatter-gen-modal label input {
	display: block;
}
